.footer {
  height: 150px;
  background-color: #333b50;
  display: block;
  position: relative;
}

.left {
  width: 100px;
  left: 20%;
  display: inline-block;
  height: 50px;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center {
  width: 50%;
  left: 50%;
  display: inline-block;
  height: 50px;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.text {
  color: #bec7d5;
  font-family: var(--font-sans);
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0;
}

.icon {
  position: absolute;
  top: 10%;
}

@media only screen and (max-width: 1024px) {
  .footer {
    display: none;
  }
}
